//My theme colors
$orange-dark:   #f55800;
// text color
$gray-light: #fff5e1;
// navbar color
$gray-dark: #3c3a39;
// background color
// my projects title
$black:    #1c1a19;

// multi-post h3/text/button color
$blue:     #091e42;
$orange-light:   #ff6b00;

// html bootstrap ruby button color

// scss-docs-start gray-color-variables
$white:      #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-700: #8993a4;
$gray-800: #343a40;



$primary:       $gray-dark;
$secondary:     $gray-light;
$yellow:        $orange-light;
$gray-600:      $gray-700;
// import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

