@use '../custom' as *;

.display-2 {
    margin-top: 120px;
    margin-bottom: 1rem;
    text-transform: capitalize;
    padding: 0 24px;

    &--intro {
        display: inline-block;
        font-family: "Crete Round", sans-serif;
        color: $orange-dark;
        font-weight: 200;
        font-size: 65px;
        line-height: 82px;
        letter-spacing: 0.37px;
    }

    &--intro-2 {
        font-size: 1rem;
        display: block;
        color: $gray-light;
        margin-top: 1.5rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
    }

    &--description {
        font-size: 1rem;
        display: block;
        color: $gray-light;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $white;
        margin-bottom: 22px;
        margin-top: 1.5rem;
        text-transform: none;
    }

}

.media-icons {
    margin-top: 10rem;
    list-style-type: none;

    li {
        padding-top: 2rem;
        margin-right: 40px;
    }
}